
/* ADD YOUR STYLES HERE */

h1 {
    font-family: "Lucida Grande";
    font-size: 50px;
    padding: 25px;
}

h2 {
    font-family: "Lucida Grande";
    font-size: 30px;
    padding: 25px;
}

h3 {
    font-family: "Lucida Grande";
    font-size: 15px;
    padding: 5px;
}

p {
    font-family: "Lucida Grande";
    font-size: 15px;
    padding: 2.5px;
}

a:link {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightseagreen;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: lightsteelblue;
    background-color: transparent;
    text-decoration: bold;
}

a:active {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: underline;
}

body {
    font-family: "Lucida Grande";
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: #395f88;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x-axis path {
    display: none;
}

.axis-title {
    fill: #888;
    font-size: 11px;
}


.table {
    width: 50%
}

.table td {
    padding: 25px;
}

.table th {
    padding: 25px;
}

.table tr {
    background-color: azure;
    color: black;
}

.table tr:nth-child(odd) {
    background-color: ivory;
    color: black;
}

.table tr.Header {
    font-weight: bold;
    background-color: lightseagreen;
}

.container {
}

.row {
    padding: 10px;
}

.highlight tr.notHeader:hover {
    background-color: rgba(0, 255, 226, 0.42);
}

.carousel {
    width:55%;
    height:300px;
}

.slide {
    width:55%;
    height:300px;
}